<header-component></header-component>
<br><br>
<div id="about">
  <div class="aboutme">
    <div class="container">
      <div class="row">
        <about-component></about-component>
      </div>
    </div>
  </div>
</div>
<div id="projects">
  <div class="projects">
    <div class="container">
      <div class="row">
        <projects-component></projects-component>
      </div>
    </div>
  </div>
</div>
<div id="blog">
  <div class="blog">
    <div class="container">
      <div class="row">
        <blog-component></blog-component>
      </div>
    </div>
  </div>
</div>
